
body {
    background-color: black;
    font-family: 'Franklin Gothic Bold', 'Arial Narrow', Arial, sans-serif;
    color: #FFFEF4;
}

.project {
    background-color: #FFFEF4;
    color: black;
}

.grid {
    display: grid;
    gap: 1rem;
    margin: 2rem;
}



h1 {
    writing-mode: vertical-rl;
}

.f2021 {
    color: #7BCC00;
    opacity: 50%;
}

.s2022 {
    color: #C900F2;
    opacity: 50%;
}



h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button {
    color: #FFFEF4;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22pt;
    width: 226px;
}


.fall {
    background-color: #7BCC00;
}

.spring {
    background-color: #C900F2;
}

.footer {
    background-color: #FFFEF4;
    color: black;
    bottom: 0;
    width: 75%;
    padding: .5rem .5rem .5rem 2rem;
    position: absolute;
}

.footer2 {
    background-color: black;
    color: #FFFEF4;
    bottom: 0;
    width: 75%;
    padding: .5rem .5rem .5rem 2rem;
    position: absolute;
}


