
body {
    background-color: black;
    font-family: 'Franklin Gothic Bold', 'Arial Narrow', Arial, sans-serif;
    color: #FFFEF4;
}

.project {
    background-color: #FFFEF4;
    color: black;
}

.grid {
    display: grid;
    gap: 1rem;
    margin: 2rem;
}

h1 {
    writing-mode: vertical-rl;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button {
    color: #FFFEF4;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25pt;
    width: 226px;
}

.fall {
    background-color: #7BCC00;
}

.spring {
    background-color: #C900F2;
}

.footer {
    background-color: #FFFEF4;
    color: black;
    position: absolute;
    bottom: 0;
}


