html {
    --green: #5C6E00;
    --green-dark: #445100;
    --orange: #CC7708;
    --text: #D6D6D6;
    --subtitle: #FF9000;
}

.grid {
    display: grid;
    grid-template-columns: [full-start] minmax(1rem, 1fr) [main-start] minmax(0, 1280px) [main-end] minmax(1rem, 1fr) [full-end];
}

.grid > * {
    grid-column: main;
}

body {
    background: var(--green);
    font-family: 'Fira Sans', arial, sans-serif;
    font-weight: 300;
}

header {
    background-image: url(../img/logo.png), 
    url(../img/cup.png);
    background-size: 340px, cover;
    background-position: center 10%, 7% 0%;
    background-repeat: no-repeat,
    no-repeat;
    color: white;
    height: 433px;
    padding: 28px 33px 28px 33px;
    width: 100%;
}

nav {
    display:flex;
    justify-content:space-between;
}



.menu {
    background-color: var(--orange);
    color: white;
    font-family: 'Playball', cursive;
    font-weight: 400;
    font-size: 30px;
}

.titles {
    background-color: var(--green-dark);
    color: white;
    font-family: 'Playball', cursive;
    font-weight: 400;
    font-size: 28px;
}

.subtitle {
    color: var(--subtitle);
    font-size: 20px;
}

p {
    color: var(--text);
    font-size: 15px;
}

.price {
    color: white;
    font-size: 17px;
}

.food {
    margin-bottom: 2rem;
}

.three-column > * {
    margin-top: 1.5rem;
}


.tables {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    padding-right: 0rem;
}

.address {
    margin-top: 1.5rem;
}

.flex {
    display: flex;
    justify-content: space-between
}

.about p {
    max-width: 400px;
}

.socials {
    color: white;
    display:flex;
    font-size: 150%; 
    margin-right: 250px;
    margin-bottom: 1rem;
    max-width: 100px;
    justify-content: space-between;
}

.footer {
    background-color: var(--green-dark);
    padding: 2rem 0;
    
}



/* Tablet Breakpoint */
@media screen and (min-width: 768px) {
    header {
        background-size: 500px, cover;
        background-position: 50% -35%, 7% -10%;
        height: 500px;
    }
    .three-column {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 1fr 1fr;
    }
    .three-column > * {
        max-width: 250px;
    }
    .map {
        height: 100%;
    }
    .two-column {
        display: grid;
        grid-gap: 3rem;
        grid-template-columns: 1fr 1fr;
    }
   
}


/* Desktop Breakpoint */
@media screen and (min-width: 1280px) {
    header {
        background-size: 700px, cover;
        background-position: 80% 50%, 100% 65%;
        height: 500px;
    }
    .three-column {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 1fr 1fr;
    }
    .three-column > * {
        max-width: 250px;
    }
    .map {
        height: 100%;
    }
    .two-column {
        display: grid;
        grid-gap: 3rem;
        grid-template-columns: 1fr 1fr;
    }

}